.produtos-menu {
    background-color: #2d353b;
    height: 50px;
    margin-bottom: 10px;
}
tfoot td {
    font-weight: bold;
}
.list-menu-produtos {
    list-style: none;
    display: inline;
}
.list-menu-produtos li {
    color: white;
    padding-right: 20px;
    float: left;
    margin-top: 15px
}
.list-menu-produtos li:hover a {
    color: #1c2327;
    text-decoration-line: none;
}
.list-menu-produtos a {
    color: #8b9698;
}