<div class="modal fade" id="modal-recibo" tabindex="-1" role="dialog" aria-labelledby="modalReciboLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalReciboLabel">Cadastrar Recibo</h4>
      </div>
      <div class="modal-body clearfix">

        <div id="carousel-recibo" class="carousel slide" data-ride="carousel" data-interval="">
          <div class="carousel-inner" role="listbos">
            <div class="item active">

              <div class="col-md-12">
                Formulário
              </div>
              
              <div class="panel panel-success">
                <div class="panel-heading">
                  <div class="col-md-4 pull-right">
                    <input type="text" class="form-control" placeholder="Pesquisar Cliente" #searchCliente (keyup)="0">
                  </div>
                  <h4>Selecionar Cliente</h4>
                </div>
                <table class="table table-hover table-condensed">
                  <tbody>
                    <tr *ngFor="let cliente of getClientes() | filterCliente: searchCliente.value">
                      <td>{{ cliente.cnpj }}</td>
                      <td>{{ cliente.nome | uppercase }}</td>
                      <td>{{ cliente.endereco.bairro | uppercase }}</td>
                      <td>
                        <a href="#carousel-recibo" class="btn btn-success" role="button" data-slide="next" (click)="selectCliente(cliente)">Selecionar</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

            <div class="item">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="emissao">Data:</label> {{ recibo.emissao | date: 'dd/MM/yyyy' }}
                </div>
                <div class="form-group">
                  <label for="cliente">Cliente:</label>
                  <a href="#carousel-recibo" class="btn btn-link" role="button" data-slide="prev">{{  recibo.cliente.nome | uppercase }}</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="bairro">Bairro:</label> {{ recibo.cliente.endereco.bairro | uppercase }}
                </div>
                <div class="form-group">
                  <label for="bairro">Endereço:</label> {{ recibo.cliente.endereco.logradouro | uppercase }}
                </div>
              </div>
              
              <div class="col-md-12">
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h5>Produtos</h5>
                  </div>
                  <div class="panel-body">
                    <table class="table table-compresed table-hover">
                      
                      <tbody>
                        <tr *ngFor="let item of recibo.itens">
                          <td>{{ item.produto.codigo }}</td>
                          <td>{{ item.produto.nome | uppercase }}</td>
                          <td>{{ item.quantidade }}</td>
                          <td>Opções</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="2">Total</td>
                          <td colspan="2">{{ recibo.total }}</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
      
                </div>
              </div>

              <div class="col-md-12">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <div class="col-md-3 pull-right">
                      <input type="text" class="form-control" placeholder="Pesquisar Produto">                    
                    </div>
                    <h5>Produtos Disponíveis</h5>
                  </div>
                  <div class="panel-body">
                    <table class="table table-hover table-condensed">
                      <thead>
                        <th style="width:10%">Código</th>
                        <th>Produto</th>
                        <th style="width:10%">Saldo</th>
                        <th style="width:10%">Quantidade</th>
                        <th style="width:10%"></th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let produto of getProdutos()">
                          <td>{{ produto.codigo }}</td>
                          <td>{{ produto.nome | uppercase }}</td>
                          <td>{{ produto.quantidade }}</td>
                          <td style="text-align: center">
                            <input type="number" class="form-control" #quantidade (keyup)="0" >
                          </td>
                          <td>
                            <button class="btn btn-primary" (click)="addItem(produto, quantidade.value); quantidade.value=''">Inserir</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="addRecibo()">Salvar</button>
      </div>
    </div>
  </div>
  
</div>
